.all-cards-start {
width: 100%;
}


/*NOT ACCURATE ON PURPOSE FIX TO MAKE READY: 
.hover-card-1 {
width: 100%;
}
*/

* {
  box-sizing: border-box;
}

/*BODY rules*/
body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background: #111;
  background-image: url('images/background_grid_2.jpeg');
  background-size: cover;
  background-blend-mode: soft-light;
  color: white;
  font-family: Arial, sans-serif;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: visible;
}


.header {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  flex-basis: 100%;
  text-align: center;
}



.footer-tka {
  text-align: center;
  padding: 0px;
  color: rgba(255,255,255,0.7);
  flex-basis: end;
  margin-top: 20vh;
  z-index: 999;
}

.footer-tka2 {
  text-align: center;
  flex-basis: end;
  z-index: 999;
  margin-top: 10vh;
            text-shadow: 3px 1px 2px rgb(0, 0, 0);
            -webkit-text-fill-color: rgb(255, 255, 255);
            font-size: larger;
            font-weight: 900;
            font-style: italic;
            -webkit-text-stroke: medium;
            -webkit-text-stroke-color: rgb(0, 0, 0);
            -webkit-text-stroke-width: 0.75px;
}

.h9-tka {
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
    justify-content: center;
    overflow: visible;
               -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.h1-tka {
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.h3-tka {
  text-align: center;
  color: white;
  margin-top: 0px;
  flex-basis: 99%;
    transition: color 0.3s ease,
              opacity 0.3s ease;
}

.h4-tka {
  text-align: center;
  color: white;
  margin: 10px 0 5px 0;
  font-size: clamp(2rem, 8vw, 7.5rem);
  flex-basis: 100%;
}

.p-tka {
  font-size: smaller;
  font-weight: 900;
  text-decoration: overline;
  text-decoration-color: red;
  text-align: center;
  font-size: 18px;
}

.card-clickables-backing-border {
         border: rgb(0, 0, 0);
       border-width: 10px;
       border-style: solid;
  min-height: 50vh;
}


.card-clickables-wrapper {
  position: relative;
}

.card-clickables-behind,
.card-clickables {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    min-height: 120vh;
}

/*TURNER LOOK HERE FOR THE MIRRORING CHANGES THIS IS THE SPOT*/

.card-clickables {
  display: flex;
  justify-content: center;
  overflow: hidden;
  min-height: 60vh;
  -webkit-box-reflect: below 0vh linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  z-index: 2;
}

.card-clickables-behind {
  display: flex;
  justify-content:right;
  padding-right: 5vw;
  overflow: visible;
  min-height: 50vh;
  -webkit-box-reflect: below 1vh linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
        border: rgb(255, 255, 255);
        border-width: 4px;
        border-style: solid;
        z-index: 1;
            text-shadow: 3px 1px 2px rgba(250, 19, 19, 0.416);
            -webkit-text-fill-color: rgba(255, 0, 0, 0.514);
            font-size: larger;
            font-weight: 900;
            font-style: italic;
            -webkit-text-stroke: medium;
            -webkit-text-stroke-color: rgb(0, 0, 0);
            -webkit-text-stroke-width: 0.25px;
          }

.card-clickables-random {
    overflow: visible;
              /*
                 border: rgb(12, 185, 113);
             border-width: 5px;
             border-style: solid;
            */
    width: max(30vw);
    height: max(30vh);
    /*THIS IS THE SIZING OF THE BOUNDING BOX WITH COLLISION PUSHING PACKS TO THE RIGHT*/
}

.card-clickables-random:hover {
/*left blank in this moment on purpose*/
}
  
/*ALL CODE RELATING TO IMAGE TOGGERS ie: pack1.html > down*/

/* IMAGE TOGGLER down PACK ONE*/
/* Hide the actual checkbox */
.image-toggler-card-1 input {
  display: none;
}

/* Show only the first image by default */
.image-two-card-1 {
  display: none;
}

/* When the checkbox is checked, swap the images */
.image-toggler-card-1 input:checked ~ .image-one-card-1 {
  display: none;
}

.image-toggler-card-1 input:checked ~ .image-two-card-1 {
  display: block;
}

.image-one-card-1,
.image-two-card-1 {
  cursor: pointer;
}
/* IMAGE TOGGLER up PACK ONE*/



/* IMAGE TOGGLER down PACK TWO*/
/* Hide the actual checkbox */
.image-toggler-card-2 input {
  display: none;
}

/* Show only the first image by default */
.image-two-card-2 {
  display: none;
}

/* When the checkbox is checked, swap the images */
.image-toggler-card-2 input:checked ~ .image-one-card-2 {
  display: none;
}

.image-toggler-card-2 input:checked ~ .image-two-card-2 {
  display: block;
}
/* IMAGE TOGGLER up PACK TWO*/

/* IMAGE TOGGLER down PACK THREE*/
/* Hide the actual checkbox */
.image-toggler-card-3 input {
  display: none;
}

/* Show only the first image by default */
.image-two-card-3 {
  display: none;
}

/* When the checkbox is checked, swap the images */
.image-toggler-card-3 input:checked ~ .image-one-card-3 {
  display: none;
}

.image-toggler-card-3 input:checked ~ .image-two-card-3 {
  display: block;
}
/* IMAGE TOGGLER up PACK THREE*/



/* IMAGE TOGGLER down PACK FOUR*/
/* Hide the actual checkbox */
.image-toggler-card-4 input {
  display: none;
}

/* Show only the first image by default */
.image-two-card-4 {
  display: none;
}

/* When the checkbox is checked, swap the images */
.image-toggler-card-4 input:checked ~ .image-one-card-4 {
  display: none;
}

.image-toggler-card-4 input:checked ~ .image-two-card-4 {
  display: block;
}
/* IMAGE TOGGLER up PACK FOUR*/



/* IMAGE TOGGLER down PACK FIVE*/
/* Hide the actual checkbox */
.image-toggler-card-5 input {
  display: none;
}

/* Show only the first image by default */
.image-two-card-5 {
  display: none;
}

/* When the checkbox is checked, swap the images */
.image-toggler-card-5 input:checked ~ .image-one-card-5 {
  display: none;
}

.image-toggler-card-5 input:checked ~ .image-two-card-5 {
  display: block;
}
/* IMAGE TOGGLER up PACK FIVE*/

/*ALL CODE RELATING TO IMAGE TOGGERS ie: pack1.html > up*/




/*CONTAINERS for packs on HOVER > down*/


  .container-pack-random {
    position: relative;
    width: min(15vw, 150px);
    height: min(30vh, 300px);
        z-index: 6;
      /*TILTING and TESTING*/
    transform: rotate(0deg);
                /*
    border: rgb(4, 80, 48);
    border-width: 2px;
    border-style: solid;
               */
  }



  .container-pack-1 {
    position: relative;
    width: min(15vw, 150px);
    height: min(30vh, 300px);
        z-index: 3;
      /*TILTING*/
    transform: rotate(-7deg);
            /*
              border: rgb(255, 136, 0);
             border-width: 2px;
             border-style: solid;
           */
  }

  .container-pack-2 {
    position: relative;
    width: min(15vw, 150px);
    height: min(30vh, 300px);
        z-index: 4;
      /*TILTING*/
    transform: rotate(-5deg);
             /*
              border: rgb(0, 174, 255);
             border-width: 2px;
             border-style: solid;
            */
  }

  .container-pack-3 {
    position: relative;
    width: min(15vw, 150px);
    height: min(30vh, 300px);
    z-index: 5;
             /*
              border: rgb(150, 12, 12);
             border-width: 2px;
             border-style: solid;
             */

  }

  .container-pack-4 {
    position: relative;
    width: min(15vw, 150px);
    height: min(30vh, 300px);
        z-index: 2;
      /*TILTING*/
    transform: rotate(5deg);
             /*
              border: rgb(247, 0, 255);
             border-width: 2px;
             border-style: solid;
            */
  }


  .container-pack-5 {
    position: relative;
    width: min(15vw, 150px);
    height: min(30vh, 300px);
        z-index: 1;
      /*TILTING*/
    transform: rotate(7deg);
             /*
              border: rgb(204, 0, 255);
             border-width: 2px;
             border-style: solid;
            */
  }


/*HOVER EFFECT FOR index.html CARD PACKS*/
.png-wrapper {
  position: relative;
  left: 10%;
  left: 10%;
      width: min(15vw, 150px);
      height: min(30vh, 300px);
            /*
               border: rgb(0, 60, 255);
             border-width: 1px;
             border-style: solid;
            */
}
/*problem witih middle pack not showing if absolute changed to fixed, this is supposed to change the hover text location*/

/*TURNER LOOK HERE FOR THE MOVEMENT UP ON HOVER*/

.floating-png {
  width: 100%;
  max-width: 30vh;
  height: auto;
  display: block;
  transform: translateX(0%) translateY(0px);
  /*change this transform /\ to 120px for the original amount of visual push down*/
  transition: transform 0.5s ease;
  margin-top: min(120px);
}

.floating-png:hover {
  transform: translateX(0%) translateY(-20px);
  /*
  border: red;
  border-width: 5px;
  border-style: solid;
  */
}


/*ON LOAD CARDS SWING INTO PLACE + the transition time from after immediate hover to held hover*/
.container-pack-1,
.container-pack-2,
.container-pack-3,
.container-pack-4,
.container-pack-5 {
  transition: transform 1s ease-out;
}
/*ON HOVER CARD MOVES TO FRONT*/
.container-pack-1:hover,
.container-pack-2:hover,
.container-pack-3:hover,
.container-pack-4:hover,
.container-pack-5:hover {
  z-index: 999;
  transform: translateX(0%) translateY(-20px);
}




/*THIS IS FOR THE index.html CASINO FEEL*/
@keyframes jackpotShake {
  0%   { transform: translate(0, 0) scale(1.01); }
  50%  { transform: translate(0.3px, -0.3px) scale(1.015); }
  100% { transform: translate(0, 0) scale(1.01); }
}

@keyframes textGlitch {
  0% { opacity: 1; filter: blur(0px); }
  20% { opacity: 0.8; filter: blur(1px); }
  40% { opacity: 1; }
  60% { opacity: 0.6; filter: blur(2px); }
  80% { opacity: 1; }
  100% { opacity: 1; }
}

/*
.jackpot {
  animation: jackpotShake 0.8s ease-in-out infinite;
}
*/

.glitch {
  animation: textGlitch 3.6s infinite;
}

.gold {
  color: gold;
}

.random-active {
  color: gold;
  text-shadow: 0 0 2px gold, 0 0 5px gold, 0 0 8px gold;
  animation: textGlitch 3.6s infinite;
}







/*DESKTOP+ CSS FROM HERE ON*/
/* =========================
   LARGER SCREEN VERSION
   ========================= */

@media (min-width: 768px) {

.carousel-container {
    display: none;
}

}







/*MOBILE CSS FROM HERE ON*/
/* =========================
   MOBILE VERSION
   ========================= */

@media (max-width: 768px) {

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    margin: 0;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background: #111;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    overflow-x: hidden;
    overflow-y: visible;

    font-family: Arial, sans-serif;
}


.carousel-container {

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel {
    position: relative;
    width: 100%;
    height: 500px;

    perspective: 2000px;
    transform-style: preserve-3d;
}

.card {

  -webkit-box-reflect: below 3vh linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));


    position: absolute;

    top: 50%;
    left: 50%;

    transform-style: preserve-3d;
    backface-visibility: hidden;

    transition:
        opacity .2s linear;
}



.card img {

    width: 220px;
    display: block;

    user-select: none;
    pointer-events: none;
}

.card.active {

    z-index: 100;

    transform:
        translate(-50%, -50%) scale(1.15);

    opacity: 1;
}


/*ターナー*/

/* HIDING & then changing THE DESKTOP VERSION into MOBILE BEGINS HERE */

.card-clickables-backing-border {
    display: none;
  }

.card-clickables {
    display: none;
}

.card-clickables-random {
    display: none;
}

.card-clickables-behind {
    display: none;
}

  
.h1-tka {

    text-align: center;
    margin: 0 0 20px 0;
    font-size: 1.3rem;
    order: -1;
  }

.h3-tka {

    margin-top: 7vh;

    position: absolute;
    width: 100vw;

    color: rgba(255, 0, 0, 0.712);
    font-size: 1rem;

    text-align: center;
    justify-content: space-between;

    z-index: 9999;


}

.h4-tka {

    margin-top: 1vh;

    color: white;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 8vh;
    z-index: 1000;

    display: flex;
    align-items: center;

    padding: 1.5rem;

    font-size: clamp(2rem, 10vw, 3.5rem);


    z-index: 9999;

}

.footer-tka {

    /*absolute within position is allowing the free floating placement*/
    position: absolute;

    margin-top: 90vh;
    padding-bottom: 0px;
    font-size: 1rem;
    
    width: 100vw;

    text-align: center;
    color: white;

    z-index: 9999;

  }


}


